* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
#root {
  overflow: auto;
}
body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}
.Main {
  border: solid;
  height: 100%;
  max-height: 520px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
@media (max-width: 600px) {
  .Main {
    flex-direction: column;
  }
}
.Main #Canvas {
  background-color: black;
}
.Main .menu-con {
  position: relative;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
}
.Main .menu-con.open {
  width: 300px;
}
@media (max-width: 600px) {
  .Main .menu-con.open {
    width: 100%;
    height: 300px;
  }
}
.Main .menu-con.close {
  width: 0;
  height: 0;
}
.Main .menu-con.close .menu-content {
  opacity: 0;
}
.Main .menu-con .menu-content {
  padding-top: 40px;
}
.Main .menu-con .menu-content {
  display: flex;
}
.Main .menu-con .menu-content .menu-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Main .menu-con .menu-content .menu-item label {
  flex: 1 1;
}
.Main .menu-con .menu-content .menu-item input {
  width: 60px;
}
.Main .menu-con .menu-toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
